html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.subtitle {
  text-align: left;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  color: #1e1e1e;
  margin: 2rem 2rem 1.3rem 0rem;
  font-weight: 500;
}

.paragraph {
  color: #1e1e1e;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 22px;
}

.underline {
  text-decoration: underline;
  color: #e37e54;
  font-weight: 700;
}

.scroll-container .js-scroll {
  opacity: 0;
  transform: translateY(20px);
}
.scroll-container .js-scroll.scrolled {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease;
}
.scroll-container .js-scroll.scrolled.slideup {
  transition: opacity 500ms ease, transform 500ms ease;
}

/* scroll down dude:
Based on code by Mike Wagz (https://codepen.io/mikewagz/pen/PGXqOg)
Licensed under the MIT License
*/
.scroll-down-indicator {
  display: block;
  margin: 0 auto;
  opacity: 0.5;
  width: 1rem;
  position: absolute;
  bottom: 0;
  left: 49%;
  bottom: 25%;
}

.scroll-down-indicator:before,
.scroll-down-indicator:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-bottom: 4px solid #1e1e1e;
  border-right: 4px solid #1e1e1e;
}

.scroll-down-indicator:before {
  animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll-down-indicator:after {
  animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes down-arrow-before {
  50% {
    transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    transform: rotate(45deg) translate(70%, 70%);
  }
}
@keyframes down-arrow-after {
  50% {
    transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}
.target {
  scroll-margin-top: 60px;
}

.no-select {
  user-select: none;
}

.js_license_information {
  position: absolute;
  right: 25px;
  color: white;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.mainbutton,
.button--disabled,
.button--secondary,
.button--tertiary {
  display: inline-flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1.2rem;
  background-color: #e37e54;
  color: #1e1e1e;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.mainbutton svg,
.button--disabled svg,
.button--secondary svg,
.button--tertiary svg {
  margin: 0 3px 0 8px;
  width: 25px;
  height: 25px;
}
.mainbutton svg path,
.button--disabled svg path,
.button--secondary svg path,
.button--tertiary svg path {
  stroke: #1e1e1e;
  stroke-width: 2px;
}

.mainbutton {
  font-weight: 700;
}

.button--disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.button--secondary {
  padding: 0.8rem 1rem;
  background-color: #1e1e1e;
  color: #ffffff;
}
.button--secondary svg path {
  stroke: #ffffff;
}

.button--tertiary {
  padding: 0.69rem 1rem;
  background-color: rgba(255, 0, 0, 0);
  border: 2px solid #1e1e1e;
  color: #1e1e1e;
  margin-left: 0.6rem;
}
.button--tertiary svg path {
  stroke: #1e1e1e;
}
.button--tertiary:hover {
  background-color: #1e1e1e;
  color: #ffffff;
}
.button--tertiary:hover svg path {
  stroke: #ffffff;
}

.card {
  font-family: "Open Sans", sans-serif;
  color: #1e1e1e;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.025) 0px 3px 5px;
}
.card__title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem 1rem 1rem 1rem;
  font-weight: 500;
  color: #1e1e1e;
}
.card__paragraph {
  text-align: center;
  font-size: 1.125rem;
}
.card__pics {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.card__pics svg, .card__pics img {
  min-width: 4.5rem;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
  margin: 0.5rem;
  padding: 5px;
}
@media (max-width: 575px) {
  .card__pics svg, .card__pics img {
    margin: 0.5rem;
  }
}

.tag1, .tag2 {
  background-color: #eae3dc;
  border-radius: 999px;
  margin: 0.2rem 0;
  padding: 0.5rem;
  font-weight: 500;
}

.tag2 {
  background-color: #f6f4ef;
  padding: 0.2rem 0.4rem;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

.divider {
  display: block;
  width: 100px;
  height: 3px;
  background-color: #e37e54;
  margin: 1.5rem 0;
  border-radius: 2px;
}

.in_construction {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 1rem 0.5rem;
  background-color: yellow;
  color: black;
  z-index: 999;
}
.in_construction span {
  margin-left: 0.5rem;
}

.footer {
  background-color: #1e1e1e;
  padding: 2% 15%;
  padding-bottom: 7%;
  color: #ffffff;
  margin-top: auto;
}
.footer__socials {
  margin: 1rem 0;
  margin: 10px 0;
  list-style-type: none;
}
.footer__socials-link {
  margin: 10px 0;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.footer__socials-link svg {
  width: 20px;
  margin-right: 5px;
}
.footer__socials-link svg path {
  fill: #ffffff;
}
.footer .subtitle {
  color: #ffffff;
  margin-bottom: 3rem;
}

.header {
  background-color: #f6f4ef;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: border-radius 0.1s ease-in-out;
  font-family: "Open Sans", sans-serif;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
@media (min-width: 992px) {
  .header__nav {
    flex-direction: row;
    margin-left: 18%;
    margin-right: 18%;
  }
}
@media (min-width: 768px) {
  .header__nav {
    margin-left: 13%;
    margin-right: 13%;
  }
}
.header__nav-langmenu {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
.header__nav-langmenu .arrow {
  transition: transform 0.3s ease;
}
.header__nav-logo {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
}
.header__nav-logo .header__logo-img {
  width: 35px;
  height: auto;
  margin-right: 10px;
  filter: invert(12%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(12%) contrast(100%);
}
@media (min-width: 992px) {
  .header__nav-logo .header__logo-img {
    width: 40px;
    cursor: pointer;
  }
}
.header__nav-list {
  background-color: #f6f4ef;
  overflow: hidden;
  position: absolute;
  left: 0;
  padding: 1rem;
  top: 60px;
  width: 100%;
  max-height: 0vh;
  padding: 0;
  box-shadow: 0px 12px 20px -10px rgba(149, 157, 165, 0.2);
  opacity: 1;
  transition: all 0.3s ease;
}
@media (min-width: 992px) {
  .header__nav-list {
    position: static;
    opacity: 1;
    display: flex;
    flex-direction: row;
    max-height: none;
    height: auto;
    padding: 0;
    overflow: visible;
    box-shadow: 0px 12px 20px -10px rgba(149, 157, 165, 0);
    width: auto;
  }
}
@media (min-width: 768px) {
  .header__nav-list {
    padding: 0;
  }
}
.header__nav-langlist {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  max-height: 0rem;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease-in-out, border-radius 0.5s ease;
  padding: 0.1rem;
  margin-top: 5px;
}
.header__nav-langlist .header__nav-langitem {
  margin-top: 0px;
  margin: 10px;
  cursor: pointer;
}
@media (min-width: 992px) {
  .header__nav-langlist {
    transition: max-height 0.35s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease-in-out, border-radius 5s ease, box-shadow 1s ease;
    opacity: 0;
    margin-top: 0px;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3rem;
    max-height: 0px;
    padding: 0.1rem;
    background-color: #f6f4ef;
    box-shadow: 0px 12px 20px -10px rgba(149, 157, 165, 0);
    border-radius: 15px;
  }
}
@media (min-width: 992px) {
  .header__nav-langlist {
    margin: 0 12%;
  }
}
.header__nav-item, .header__nav-lang {
  margin: 1rem;
  cursor: pointer;
}
.header__nav-item a, .header__nav-lang a {
  display: block;
  width: 100vw;
  text-decoration: none;
  color: inherit;
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media (min-width: 992px) {
  .header__nav-item, .header__nav-lang {
    font-size: 1.125rem;
    display: inline-block;
    position: relative;
  }
  .header__nav-item a, .header__nav-lang a {
    width: 100%;
    opacity: 1;
  }
  .header__nav-item::after, .header__nav-lang::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #e37e54;
    transition: transform 0.25s ease-out;
  }
}
.header__nav-burguer {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
@media (min-width: 992px) {
  .header__nav-burguer {
    display: none;
  }
}
@media (max-width: 1399px) {
  .header__nav-burguer-line {
    display: block;
    background-color: #1e1e1e;
    width: 30px;
    height: 2px;
    margin: 5px 0;
    transition: all 0.3s ease;
  }
}

@media (max-width: 991px) {
  .header__nav-burguer--active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .header__nav-burguer--active span:nth-child(2) {
    opacity: 0;
  }
  .header__nav-burguer--active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

.header__nav--active,
.header__nav-langlist--active {
  max-height: 13rem;
}

.header__nav--active a {
  opacity: 1;
}

.header__nav-langlist--active {
  max-height: 7rem;
  opacity: 1;
  overflow: none;
}
@media (min-width: 992px) {
  .header__nav-langlist--active {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.item--active a {
  color: #e37e54;
}
.item--active::after {
  transform: scaleX(1);
}

.header__nav-langmenu--active .arrow {
  transform: rotate(180deg);
}

html,
.body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.body {
  background-color: #f6f4ef;
  flex: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.main__intro {
  padding: 1rem;
  padding-top: 7rem;
  margin-top: 5%;
  color: #1e1e1e;
  min-height: 90vh;
}
@media (min-width: 992px) {
  .main__intro {
    margin-top: 7%;
    min-height: 74.5vh;
    margin-left: 18%;
    margin-right: 18%;
  }
}
@media (min-width: 768px) {
  .main__intro {
    margin-top: 7%;
    min-height: 80vh;
    margin-left: 13%;
    margin-right: 13%;
  }
}
.main__intro-salutation-container {
  display: flex;
  align-items: center;
}
.main__intro-salutations {
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 992px) {
  .main__intro-salutations {
    font-size: 1.5rem;
  }
}
.main__intro-name {
  margin-top: 0.1rem;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
@media (min-width: 992px) {
  .main__intro-name {
    font-size: 4.375rem;
  }
}
.main__intro-position {
  margin-top: 0.5rem;
  min-height: 3rem;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .main__intro-position {
    font-size: 2rem;
  }
}
.main__intro-position--type {
  color: #e37e54;
  font-weight: 700;
}
.main .description {
  padding: 2.3rem 2.5rem 5.3rem 2.5rem;
  color: #1e1e1e;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  background-color: #ece3da;
}
.main .description .divider {
  display: none;
}
@media (min-width: 768px) {
  .main .description {
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 0px;
  }
  .main .description .divider {
    display: block;
  }
}
@media (min-width: 768px) {
  .main .description__intro p {
    width: 60%;
    margin: 0 0 1rem 0;
  }
}
.main .description__media {
  gap: 3rem;
}
@media (min-width: 768px) {
  .main .description__media {
    display: flex;
    flex-direction: row-reverse;
  }
}
.main .description__media p {
  margin-bottom: 3rem;
  text-align: left;
}
@media (min-width: 992px) {
  .main .description__media p {
    line-height: 25px;
    width: 60%;
    margin: 0;
  }
}
.main .description__media img {
  width: 180px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%/30%;
  display: block;
  margin: 3rem auto;
  box-shadow: 4px 3px 17px -11px rgba(0, 0, 0, 0.411);
}
@media (min-width: 768px) {
  .main .description__media img {
    width: 288px;
    height: 400px;
    position: relative;
    bottom: 8rem;
    left: 2rem;
    margin: 0 auto;
  }
}
.main .skills {
  padding: 2.3rem 2.5rem 5.3rem 2.5rem;
}
@media (min-width: 768px) {
  .main .skills {
    padding-left: 13%;
    padding-right: 13%;
    margin-bottom: 2rem;
  }
}
.main .skills__category-title {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.main .skills__category-title svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
.main .skills__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main .skills__item {
  margin: 0.2rem;
  width: 6rem;
  background-color: #eae3dc;
  height: 2rem;
  line-height: 2rem;
  border-radius: 999px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.main .projects {
  background-color: #ece3da;
  padding: 2.3rem 2.5rem 5.3rem 2.5rem;
}
@media (min-width: 768px) {
  .main .projects {
    padding-left: 13%;
    padding-right: 13%;
  }
}
.main .projects__intro {
  margin-bottom: 2rem;
}
.main .projects__item {
  margin-bottom: 3.7rem;
}
.main .projects__title {
  text-align: left;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.main .projects__paragraph {
  margin-bottom: 1rem;
}
.main .projects__image {
  width: 100%;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 5px #222);
}
@media (min-width: 768px) {
  .main .projects__image {
    height: auto;
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}
.main .projects__description {
  border-radius: 15px;
  padding: 0.5rem;
  margin-top: 5px;
}
.main .projects__tags {
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
}
.main .projects__tag {
  margin-right: 5px;
}
.main .projects__buttons {
  margin: 1rem 0;
  position: relative;
  right: 3px;
}

/*# sourceMappingURL=main.css.map */
