@use "../abstracts/variables" as *;
@use '../abstracts/mixins' as *;
@use '../base/animations' as *;

html,
.body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.body {
    background-color: $primary-color;

    flex: 1;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.main {

    &__intro {
        padding: 1rem;
        padding-top: 7rem;
        margin-top: 5%;
        color: $secondary-color;
        min-height: 90vh;

        @include respond-to(large) {
            margin-top: 7%;
            min-height: 74.5vh;
            margin-left: 18%;
            margin-right: 18%;
        }

        @include respond-to(medium) {
            margin-top: 7%;
            min-height: 80vh;
            margin-left: 13%;
            margin-right: 13%;
        }

        &-salutations {
            font-size: $font-size-medium;
            font-family: $primary-font;

            @include respond-to(large) {
                font-size: $font-size-large;
            }
        }

        &-name {
            margin-top: .1rem;
            font-size: $font-size-xxxlarge;
            font-weight: $font-weight-bold;
            font-family: $secondary-font;

            @include respond-to(large) {
                font-size: calc($font-size-xxxlarge * 1.25)
            }
        }

        &-position {
            margin-top: .5rem;
            min-height: 3rem;
            font-size: $font-size-large;
            font-family: $primary-font;
            margin-bottom: 1rem;

            @include respond-to(large) {
                font-size: $font-size-xlarge;
            }

            &--type {
                color: $accent-color;
                font-weight: $font-weight-bold;
                //text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.01);
            }
        }
    }

    .description {
        padding: $padding-section;
        color: $secondary-color;
        font-family: $primary-font;
        font-size: $font-size-large;
        background-color: $tertiary-color;
        .divider{
            display: none;
        }
        @include respond-to(medium) {
            padding-left: 13%;
            padding-right: 13%;
            padding-bottom: 0px;
            .divider{
                display: block;
            }

        }

        &__intro {
            @include respond-to(medium) {
                p{
                    width: 60%;
                    margin: 0 0 1rem 0;
                }
            }
        }

        &__media {
            gap: 3rem;

            @include respond-to(medium) {
                display: flex;
                flex-direction: row-reverse;
            }

            p {
                margin-bottom: 3rem;
                text-align: left;

                @include respond-to(large) {
                    line-height: 25px;
                    width: 60%;
                    margin: 0;
                }
            }

            img {
                width: 180px;
                height: 250px;
                object-fit: cover;
                border-radius: 50% / 30%;

                display: block;
                margin: 3rem auto;
                box-shadow: 4px 3px 17px -11px rgba(0, 0, 0, 0.411);


                @include respond-to(medium) {
                    width: calc(180px * 1.6);
                    height: calc(250px * 1.6);

                    position: relative;
                    bottom: 8rem;
                    left: 2rem;
                    margin: 0 auto;
                    
                }

            }
        }
    }

    .skills {
        padding: $padding-section;
      
        @include respond-to(medium) {
            padding-left: 13%;
            padding-right: 13%;
            margin-bottom: 2rem;
        }

        &__category-title {
            display: flex;
            align-items: center;
            font-family: $primary-font;
            font-size: $font-size-large;
            margin: 1rem 0;

            svg {
                width: 2rem;
                height: 2rem;
                margin-right: .5rem;

            }
        }

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__item {
            margin: .2rem;
            width: 6rem;
            background-color: $sand;
            height: 2rem;
            line-height: 2rem;
            border-radius: 999px;
            text-align: center;
            font-family: $primary-font;
            font-weight: $font-weight-medium;
        }
    }

    .projects {
        background-color: $tertiary-color;
        padding: $padding-section;

        @include respond-to(large) {}

        @include respond-to(medium) {
            padding-left: 13%;
            padding-right: 13%;
        }

        &__intro {
            margin-bottom: 2rem;
        }

        &__item {
            margin-bottom: 3.7rem;
        }

        &__title {
            text-align: left;
            margin-bottom: 1rem;
            font-family: $secondary-font;
            font-size: $font-size-large;
            font-weight: $font-weight-medium;
        }

        &__paragraph {
            margin-bottom: 1rem;
        }

        &__image {
            width: 100%;
            border-radius: 15px;
            //border: .122em solid $secondary-color;
            filter: drop-shadow(5px 5px 5px #222);

            @include respond-to(medium) {
                height: auto;
                width: 70%;
                display: block;
                margin: 0 auto;
            }

        }

        &__description {
            //border: .122em solid $secondary-color;
            border-radius: 15px;
            padding: .5rem;
            margin-top: 5px;
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            font-family: $primary-font;
        }

        &__tag {
            margin-right: 5px;
        }

        &__buttons {
            margin: 1rem 0;
            position: relative;
            right: 3px;

            .button {
                border: 2px solid $secondary-color;
            }

            .button:last-child {
                background-color: rgba(255, 0, 0, 0);
                border: 2px solid $secondary-color;
                color: $secondary-color;
                margin-left: .6rem;

                svg {
                    path {
                        stroke: $secondary-color;
                    }
                }
            }
        }
    }
}