@use "../abstracts/variables" as *;

html,
.body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.body {
    background-color: $primary-color;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main {
    &__intro {

        padding: 1rem;
        padding-top: 7rem;
        color: $secondary-color;

        &-salutations {
            font-size: $font-size-medium;
            font-family: $primary-font;
        }

        &-name {
            margin-top: .1rem;
            font-size: $font-size-xxxlarge;
            font-weight: $font-weight-bold;
            font-family: $secondary-font;
        }

        &-position {
            margin-top: .5rem;
            font-size: $font-size-large;
            font-family: $primary-font;

            &--type {
                color: $accent-color;
                font-weight: $font-weight-bold;
                //text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.01);
            }
        }
    }

    &__description {
        padding: 1rem;
        margin-top: 10vh;
        color: $secondary-color;
        font-family: $primary-font;

        img {
            width: 150px;
            height: 200px;
            object-fit: cover;
            border-radius: 50% / 30%;

            display: block;
            margin: 0 auto;
            box-shadow: 4px 3px 17px -11px rgba(0, 0, 0, 0.411);

        }

        p {
            margin-top: 1rem;
            text-align: center;
            font-size: $font-size-medium;
        }
    }

    &__skills {
        position: relative;

        padding: 1rem;
        margin-top: 3.5rem;

        &-cards {
            display: flex;
            flex-direction: row;
            overflow: hidden;
            gap: 2rem;

            .card {
                min-width: calc(100vw - 4rem);
                height: 30vh;
            }
        }

        h4 {}
    }

    .arrow-left,
    .arrow-right {
        cursor: pointer;
        position: absolute;
        top: 55%;

        width: auto;
        margin-top: -22px;

        padding: 16px;
        color: $accent-color;
        font-weight: bold;

        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;

        svg {
            width: 50px;
            height: 50px;
            opacity: 0.5;
        }
    }

    .arrow-left {
        left: -10px;
    }

    .arrow-right {
        right: -10px;
    }
}