@use "../abstracts/variables" as *;

button.mainbutton,
button.button--secondary {
    display: inline-flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1.2rem;

    background-color: $accent-color;
    color: $secondary-color;
    font-weight: $font-weight-black;
    border: none;
    border-radius: 999px;
    font-size: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    span {
        position: relative;
        top: 1px;
    }

    svg {
        margin: 0 3px 0 8px;
        width: 25px;
        height: 25px;
        position: relative;
        bottom: 1px;

        path {
            stroke: $secondary-color;
            stroke-width: 2px;
        }
    }
}

button.button--secondary {
    padding: .8rem 1rem;
    background-color: $secondary-color;
    color: $white;

    svg {
        path {
            stroke: $white;
        }
    }
}