@use "../abstracts/variables" as *;

.card{
    font-family: $primary-font;
    color: $secondary-color;
    background-color: $tertiary-color;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.025) 0px 3px 5px;
    &__title{
        text-align: center;
        font-size: $font-size-large;
        margin-top: .5rem;
        font-weight: $font-weight-medium;
    }
    &__paragraph{
        text-align: center;
        font-size: $font-size-medium;
    }
    &__svg{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
        svg{
            width: 5rem;
            path{
                fill: $secondary-color;
            }
        }
    }
}