@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.subtitle {
    text-align: center;
    font-size: $font-size-large;
    font-family: $secondary-font;
    color: $secondary-color;
    margin: 2rem;
    font-weight: $font-weight-medium;

    @include respond-to(large) {
        font-size: $font-size-xxlarge;
    }
}