@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
    background-color: $primary-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: border-radius 0.1s ease-in-out;
    font-family: $primary-font;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        @include respond-to(large) {
            flex-direction: row;
            margin-left: 18%;
            margin-right: 18%;
        }

        @include respond-to(medium) {
            margin-left: 13%;
            margin-right: 13%;
        }

        &-langmenu {
            background: none;
            border: none;
            box-shadow: none;
            padding: 0;
            margin: 0;
            color: inherit;
            font: inherit;
            cursor: pointer;

            .arrow {
                transition: transform 0.3s ease;
            }
        }

        &-logo {
            display: flex;
            align-items: center;
            padding: 5px;
            font-size: 24px;
            font-weight: bold;

            .header__logo-img {
                width: 35px;
                height: auto;
                margin-right: 10px;

                filter: invert(12%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(12%) contrast(100%);

                @include respond-to(large) {
                    width: 40px;
                    cursor: pointer;
                }

            }
        }

        &-list {
            background-color: $primary-color;
            overflow: hidden;
            position: absolute;
            left: 0;
            padding: 1rem;
            top: 60px;
            width: 100%;

            max-height: 0vh;
            padding: 0;
            box-shadow: 0px 12px 20px -10px rgba(149, 157, 165, 0.2);
            opacity: 1;
            transition: all 0.3s ease;

            @include respond-to(large) {
                position: static;
                opacity: 1;
                display: flex;
                flex-direction: row;
                max-height: none;
                height: auto;
                padding: 0;
                overflow: visible;
                box-shadow: 0px 12px 20px -10px rgba(149, 157, 165, 0);
                width: auto;
            }

            @include respond-to(medium) {
                padding: 0 11%;
            }
        }

        &-langlist {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
            max-height: 0rem;
            opacity: 0;
            overflow: hidden;
            transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity .5s ease-in-out, border-radius 0.5s ease;

            padding: .1rem;
            margin-top: 5px;

            .header__nav-langitem {
                margin-top: 0px;
                margin: 10px;
                cursor: pointer;
            }


            @include respond-to(large) {
                transition: max-height .35s cubic-bezier(0.4, 0, 0.2, 1), opacity .3s ease-in-out, border-radius 5s ease, box-shadow 1s ease;
                opacity: 0;
                margin-top: 0px;
                overflow: hidden;
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 3rem;
                max-height: 0px;
                padding: .1rem;
                background-color: $primary-color;
                box-shadow: 0px 12px 20px -10px rgba(149, 157, 165, 0);
                border-radius: 15px;
            }

            @include respond-to(large) {
                margin: 0 12%;
            }
        }

        &-item,
        &-lang {
            margin: 1rem;
            cursor: pointer;

            a {
                display: block;
                width: 100vw;
                text-decoration: none;
                color: inherit;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            @include respond-to(large, min) {
                a {
                    width: 100%;
                    opacity: 1;
                }

                font-size: $font-size-medium;

                display: inline-block;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: $accent-color;
                    transition: transform 0.25s ease-out;
                }
            }

        }

        &-burguer {
            background: none;
            border: none;
            box-shadow: none;
            padding: 0;
            margin: 0;
            color: inherit;
            font: inherit;
            cursor: pointer;

            @include respond-to(large) {
                display: none;
            }
        }

        &-burguer-line {
            @include respond-to(xxlarge, max) {
                display: block;
                background-color: $secondary-color;
                width: 30px;
                height: 2px;
                margin: 5px 0;
                transition: all 0.3s ease;
            }
        }
    }
}


// ** Actives de JS **  
// Animación del burguer menu
.header__nav-burguer--active {
    @include respond-to(large, max) {
        span:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }
}

// Abre cierra el burguer menu como el lang menu
.header__nav--active,
.header__nav-langlist--active {
    max-height: 13rem;

    @include respond-to(large) {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    }

}

.header__nav--active {
    a {
        opacity: 1;
    }
}

.header__nav-langlist--active {
    max-height: 7rem;
    opacity: 1;
    overflow: none;
}

// Cuando hacemos click en un nav item como "Inicio" o "Contactame"
.item--active {
    a {
        color: $accent-color;
    }

    &::after {
        transform: scaleX(1);
    }
}

// Cuando hacemos click en el menú de idioma
.header__nav-langmenu--active {
    .arrow {
        transform: rotate(180deg);
    }
}